[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

out/
build/

*.pyc
.ycm_extra_conf.py

.idea/
.Rhistory

cmake-build-debug/
compile.sh

*.aux
*.log
*.dvi
*.ps
*.out
*.synctex.gz
*.*~
~*.*x
*.fuse*
